<configuration>

  <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
  <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
  <springProperty scope="context" name="LOG_LEVEL_PATTERN" source="logging.pattern.level"/>
  <springProperty scope="context" name="LOG_FILE" source="logging.file.name"/>

  <!-- Only include file appender if LOG_FILE is defined -->
  <if condition='isDefined("LOG_FILE")'>
    <then>
      <include resource="org/springframework/boot/logging/logback/file-appender.xml"/>
    </then>
  </if>

  <appender name="RAW_PRINTER" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%msg%n</pattern>
    </encoder>
  </appender>

  <root level="INFO">
    <appender-ref ref="CONSOLE"/>
    <if condition='isDefined("LOG_FILE")'>
      <then>
        <appender-ref ref="FILE"/>
      </then>
    </if>
  </root>

  <logger name="PRINTER" level="INFO" additivity="false">
    <appender-ref ref="RAW_PRINTER"/>
  </logger>

</configuration>