<configuration>

  <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
  <springProperty scope="context" name="LOG_LEVEL_PATTERN" source="logging.pattern.level"/>

  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>${CONSOLE_LOG_PATTERN}</pattern>
    </encoder>
  </appender>

  <appender name="RAW_PRINTER" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%msg%n</pattern>
    </encoder>
  </appender>

  <root level="INFO">
    <appender-ref ref="CONSOLE"/>
  </root>

  <logger name="PRINTER" level="INFO" additivity="false">
    <appender-ref ref="RAW_PRINTER"/>
  </logger>

</configuration>