#root {
	overflow: hidden;
}

h1 {
	margin: 1rem 0 1rem 0;
	font-size: xx-large;
}

.container {
	width: calc(100vw - 4rem);
	display: flex;
	flex-direction: column;
	padding-inline: 2rem;
	overflow-y: scroll;
}

.tabs {
	width: 100%;
}

.filter-container {
	width: 100%;
}

.filters {
	display: flex;
	justify-content: space-between;
}

.stable-filters {
	display: flex;
	gap: 2rem;
}

.tables {
	width: 100%;
	margin-bottom: 1rem;
	min-height: 80vh;
}

table {
	width: 100%;
	border-collapse: collapse;
}

th,
td {
	border: 1px solid black;
}

td th {
	width: 50%;
}

.purpose-column {
	width: 15%;
}

.c7-endpoint-column,
.c8-endpoint-column {
	width: 20%;
}

.explanation-column {
	width: 45%;
}

.button-hidden {
	display: none;
}

.button-to-top {
	display: block;
	position: fixed;
	bottom: 5%;
	left: 90%;
}

button {
	border: 1px solid black;
}
