notification:
  slack:
    enabled: false
    token: ""
    channel-name: ""

# Spring Boot Actuator Configuration
management:
  endpoints:
    web:
      exposure:
        include: health
      base-path: /actuator
  endpoint:
    health:
      show-details: never
